<div class="container p-1">
    <div class="card">
        <div class="p-4">
            <video class="border border-secondary" id="videoPlayer" width="100%" height="100%" poster="/thumbnails/{{video.thumbnail_filename}}" controls controlsList="nodownload" autoplay> 
                <source src="http://localhost:3000/view/{{id}}"  type="video/mp4">
            </video>
        </div>
        <div class="card-body ml-2">
            <h2>{{video.title}}</h2>
            <small>{{video.views}} visualizaciones</small>
        </div>
        <div class="card-body p-0 ml-2">
            <div class="dropdown-divider"></div>
            <div>
                <h3><a href="/channel/{{channel.channel}}">{{channel.channel}}</a></h3>
                <h4>{{channel.subscribers}} suscriptores || <a href="">Suscribirse</a></h4>
            </div>
            <div class="dropdown-divider"></div>
            <div class="accordion" id="accordionExample"></div>
                <div class="card">
                    <div class="card-body" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Mostrar descripción
                        </button>
                    </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        {{video.description}}
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>